.section {
    position: relative;
    overflow-y: scroll;
    height: 80%;
    max-height: 80%;
}

.section .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.left-content-space{
    min-height: 850px !important;
    opacity: 0.5;
    border-right: 1px solid green;
}

.right-content-space{
    min-height: 850px !important;
    opacity: 0.5;
    border-left: 1px solid green;
}